[Unit]
Description=Pi Status Dashboard Service
After=network.target

[Service]
User=spoon
WorkingDirectory=/home/spoon/home_automation/dashboard
Environment="PATH=/home/spoon/home_automation/venv/bin"
ExecStart=/home/spoon/home_automation/venv/bin/python app.py --port 8888
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
